<section class="explore">
    <h2>Explore</h2>
    <article>
        <% const img = kunst.webImage.url.slice(0, -3)+"=s1000" %>
        <h3><%= data.title %></h3>
        <p><%= data.principalOrFirstMaker %></p>
        <img src="<%= img %>" alt="<%= data.title %>">
    </article>
</section>