<section class="explore">
    <h2>Explore</h2>
    <article>
        <h3><%- collection.artObjects.title %></h3>
        <p>${collection.artObjects.principalOrFirstMaker}</p>
        <img src="${collection.artObjects[i].webImage.url.slice(0, -3)+"=s1000"}" alt="${collection.artObjects[i].title}">
    </article>
</section>