<section class="explore">
    <h2>Explore</h2>
    <article>
        <% data.map((kunst) => { const img = kunst.webImage.url.slice(0, -3)+"=s1000" %>
        <h3><%= data.title %></h3>
        <p><%= data.principalOrFirstMaker %></p>
        
    </article>
</section>