<section class="explore">
    <h2>Explore</h2>
    <ul class="antiscroll">
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
        <li class="loading">
            <h3></h3>
            <p></p>
            <figure></figure>
        </li>
    </ul>
</section>